<div class="container">
  <label for="update">Update?</label>
  <input type="checkbox" name="update" id="update" [(ngModel)]="isUpdate">

  <div class="new-recipe">
    <h1 class="new-recipe__title">New Recipe</h1>

    @if (isUpdate) {
      <div class="new-recipe__raw">
        <label for="id" class="new-recipe__label">ID:</label>
        <input type="number" id="id" placeholder="ID" class="new-recipe__input" [(ngModel)]="newRecipe.id" (keydown)="get($event)">
      </div>
    }

    <div class="new-recipe__raw">
      <label for="name" class="new-recipe__label">Name:</label>
      <input type="text" id="name" placeholder="Name" class="new-recipe__input" [(ngModel)]="newRecipe.name">
    </div>

    <div class="new-recipe__raw">
      <label for="description" class="new-recipe__label">Description:</label>
      <textarea id="description" placeholder="description" class="new-recipe__input" [(ngModel)]="newRecipe.description"></textarea>
    </div>

    <div class="new-recipe__raw">
      <label for="ingredients" class="new-recipe__label">Ingredients:</label>
      <textarea id="ingredients" placeholder="Ingredients" class="new-recipe__input" [(ngModel)]="newRecipe.ingredients"></textarea>
    </div>

    @if (isUpdate) {
      <button type="submit" class="new-recipe__submit" (click)="update($event)">Update</button>
    } @else {
      <button type="submit" class="new-recipe__submit" (click)="add($event)">Add</button>
    }
  </div>


  <ol class="recipes">
    @for (recipe of recipes; track recipe.id) {
      <li class="recipe">
        <span class="recipe__close" (click)="remove(recipe.id)"> X </span>
        <h1 class="recipe__name">{{ recipe.name }}</h1>
        <p class="recipe__description">{{ recipe.description }}</p>
        <ul class="recipe__ingredients">
          @for (ingredient of recipe.ingredients; track $index) {
            <li>
              {{ ingredient }}
            </li>
          }
        </ul>
      </li>
    }
  </ol>
</div>